*.user
*.user.*
*.pro.user
build-*
debug/
release/
Debug/
Release/
Makefile
*.o
*.obj
*.a
*.so
*.so.*
*.dll
*.exe
moc_*.cpp
qrc_*.cpp
ui_*.h
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.DS_Store
Thumbs.db
